.offscreen {
  position: absolute;
  left: -10000px;
}

.skip-link {
  position: absolute;
  top: -999px;
  left: 0;
  color: $backgroundColor;
  background-color: $color;
  padding: 10px;
  z-index: 1;
}

.skip-link:focus,
.skip-link:active {
  top: auto;
  left: auto;
}
